.form_add {
        margin: 0 auto; /* căn giữa theo chiều ngang */
        text-align: center; /* căn giữa văn bản bên trong phần tử div */
        justify-content: center;
        width: 300px;
        height:fit-content;

    
}
.form_add .mb-3{
        margin: auto; /* căn giữa theo chiều ngang */
        text-align: center; /* căn giữa văn bản bên trong phần tử div */
        justify-content: center;
        display: flex;     
        padding: 10px;  
}