.addstudent-form{
    background-color: rgb(145, 207, 238);
    width: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}
.addstudent-div{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.mb-3{
    padding: 10px;
}
button.mb-3{
    margin-left: 10px;
}