
.overLayLogin{
    background-color: rgb(163, 242, 242);
    width: 50%;
    height: 500px;
    margin: 10% 25%;
    border-radius: 10%;
    position:absolute;
}
.parent-mb-3{
    margin: 10%;
    padding-top: 30%;
    text-align: left;
}
.register{
    margin-left: 20px;
}