*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}
.body_tb{
    min-height: 100vh;
    background: url(../img/bg_img_tb.jpg) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
content_tb {
    background-color: #fff5;
}

table , th ,td , tr{
    padding: 1rem;
   
}
main.table{
    width: 1260px;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    overflow: hidden;
}
.table_body{
   
    width: 95%;
    max-height: calc(89% - .8rem);
    

    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
table{
    width: 100%;
    /* margin-left: 10px; */
}
thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}
tbody tr:nth-child(even){
    background-color: #0000000b;
}
tbody tr:hover{
    background-color: #fff6;
}
.fix-order{
    background-color: #86e49d;
    color: #006b21;
    border-radius: 2rem;
    
}
.delete-order{
    background-color: #d893a3;
    color:#b30032;
    border-radius: 2rem;
}
.addbtn{
    position: absolute;
    font-size: 50px;
}
.addbtn:hover{
    cursor: pointer;
    color: red;
}
.searchbtn{
    position:relative;
    font-size: 50px;
    border-radius: 20px;
    width: fit-content;
}
.searchbtn:hover{
    color: #e3d428;
}
/* #hindenbtn{
    background-color: #fff5 ;
    border: none;
    border-radius: 20px;
} */
.search-btn-student{
    text-decoration: none;
}