.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: #56a4fe;
  width: 100%;
  min-height: 88px;
  position: relative;
  margin-top: 50;
}

.infor-navbar{
  border-bottom-left-radius: 75px;
  width: 50%;
  height: 30px;
  margin-left: 50%;
  background-color: aliceblue;
  display: block;

}
.search{
  width: 400px;
  height: 100%;
  position: relative;
}
.search-text{
  color: aliceblue;
  margin-top: 10px;
  position: relative;
}
.search-input{
  border-radius: 4px;
  width: 300px;
}
.search-btn{
  color: rgb(13, 0, 134);
  cursor: pointer;
  text-decoration: none;
}

.body{
width: 100%;
height: 1000px;
float: left;
display: block;
}
.navbar{
  width: 400px;
  height: 50px;
  float: right;
  border-radius: 20px;
}
.body-children{
  display: flex;
  padding-top: 26px;
  width: 100%;
}
.left-home{
  float: left;
}
li {
  list-style-type: none;
  
}
.bg-body-tertiary :hover{
  background-color: rgb(111, 190, 239);
  color: white
}
.content-home{
  width: 100%;
  height: 100%;
  float: right;
}




