@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

body {
  min-height: 100vh;
  background: url(./images/html_table.jpg) center / cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.container{
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
}
.container .content{
  width: 85%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: grid;
}
