@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.container{
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
}
.container .c-left{
  width: 15%;
  height: 100vh;
}
.container .c-right{
  position: relative;
  width: 85%;
  height: 100vh;
  background-color: aqua;
}